body {
    background-image: url("../images/starwars.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: #04ff00;
    padding: 5vw;
}

#luke {
    background-image: url(../images/luke-skywalker.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 125px;
    width:125px;
    color: white;
}

#obi-wan {
    background-image: url(../images/obi-wan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 125px;
    width:125px;
    color: white;
}

#darth-s {
    background-image: url(../images/darth-sidious.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 125px;
    width:125px;
    color: white;
}

#darth-m {
    background-image: url(../images/darth-maul.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 125px;
    width:125px;
    color: white;
}

#enemies {
    padding: 10px;
}

#defender {
    padding: 10px;
}

#attack {
    width: 10vw;
}